<div class="row-fluid">
	<!--div class="span7"-->
	<%=render 'locations/map' %>
	<%= content_tag "div", id: "map-config",data:{:"show-click-postion" => false} do %>
	<% end %>
	<!--/div-->
	<%= content_tag "div", id: "location-list",data:{:"location-list" => @locations_of_not_closed_issue} do %>
	<% end %>
</div>
<div class="row-fluid">
	<div class="span6">
		<div class="box">
			<div class="box-header">
				<span class="title">过去7天<%= I18n.t('activerecord.models.quick_report') %>的提交情况</span>
			</div>
			<div class="box-content padded">
				<div class="xcharts-line-dotted" style="height: 400px">
				</div>
			</div>
			<%= content_tag 'div',id: "xcharts-data",data:{"xcharts-data" => @xcharts_data,"y-distinct-value-num" => @y_distinct_value_num} do %>
			<% end %>
		</div>
	</div>
	<div class="span6">
		<div class="box">
			<div class="box-header">
				<span class="title">截至的目前未关闭的<%= I18n.t('activerecord.models.quick_report') %></span>
			</div>
			<div class="box-content">
				<table class="table table-normal">
					<thead>
						<tr>
							<td>高</td>
							<td>中</td>
							<td>低</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<% [['高','red'],['中','blue'],['低','gray']].each do |level| %>
								<td style="text-align: center;">
									<%=link_to search_quick_reports_path({:search=>{:level=>level[0],:is_closed=>"false"}}) do %>
										<span class="label label-<%=level[1]%>"><%= @unclosed_quick_reports_group_by_level[level[0]] %> </span>
									<% end %>
								</td>
							<% end %>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="box">
			<div class="box-header">
				<span class="title">最新提交的<%= I18n.t('activerecord.models.quick_report') %></span>
			</div>
			<div class="box-content scrollable" style="height: 305px; overflow-y: auto" %>
				<% @latest_created_quick_report.each do |q| %>
					<%= render partial:'quick_reports/index_item',locals:{q: q,only_time: true} %>
				<% end %>
			</div>
		</div>
	</div>
</div>