<div class="row-fluid">
	<%=render 'locations/map' %>
	<%= render partial: 'locations/map_config'%>
	<%= content_tag "div", id: "location-list",data:{:"location-list" => @locations_of_not_closed_issue} do %>
	<% end %>
</div>
<%= render partial: 'shared/action_nav_normal' %>
<div class="row-fluid">
	<%= render partial:'level_tabs' %>
</div>
<%= render partial: 'xcharts' %>
<div class="row-fluid">
		<%= render partial:'latest_tabs' %>
</div>
