<%= render partial: 'template_check_records/status',locals:{template_check_record:template_check_record} %>

<div class="box">
	<% if template_check_record.state == 'unpassed' and template_check_record.issue %>
		<%= render :partial => "shared/issue", :locals => { :issue => template_check_record.issue } %>
	<%else %>
		<%= render :partial => "template_check_record_passed_details",locals:{template_check_record: template_check_record} %>
	<%end %> 
	<div class="box-footer">
		<p style="margin:4px">
			<%= render partial:'template_reports/operation',locals:{r:template_check_record} %>
		</p>
	</div>
</div>

<% if template_check_record.issue and template_check_record.issue.resolve %>
	<%= render :partial => "resolves/resolve", :locals => { :resolve => template_check_record.issue.resolve } %>
<% end %>
