<div class="box">
	<div class="box-header">
		<span class="title"><%=get_index_label('template_report')%></span>
	</div>
	<div class="box-content">
		<% @template_reports.each do |t| %>
		<div class="box-section news with-icons template_report">
			<!--div class="avatar green">
				<i class="icon-lightbulb icon-2x"></i>
			</div-->			
			<div class="total">
				<div class="mini-counts">10 </div>
				<div>总数</div>
			</div>
			<div class="total">
				<div class="mini-counts">8</div>
				<div>待查</div>
			</div>
			<div class="total problem">
				<div class="mini-counts">1</div>
				<div>问题</div>
			</div>
			<div class="total">
				<div class="mini-counts">3</div>
				<div>正常</div>
			</div>
			<div class="news-time">
				<span><%=t.created_at.day%></span><%=I18n.t("date.month_names")[t.created_at.month]%>
			</div>
		<div class="news-content">
			<div class="news-title"> 
				<p>
					<%=link_to t.template.name ,template_report_path(t)%>
				</p>
			</div>
			<div style="float:right">
				<% if allow? :template_reports,:destroy ,t %>
				<%=link_to I18n.t('views.text.destroy'),
				template_report_path(t),
				method: :delete ,  
				confirm: I18n.t('views.text.confirm',:model => t('activerecord.models.template_report')) ,
				:class=> "btn  btn-red btn-mini" %>
				<% end %>
			</div>
			<div style="float:left">
				<span class="label label-green "><%=  t.submitter.name %></span>
				<span class="label label-dark-red"><%= time_ago_in_words(t.created_at)%>前</span>
			</div>
		</div>
		</div>
		<% end %>
	</div>
	<div class="box-footer">
		<%= will_paginate @template_reports ,class: "pagination pagination-centered pagination-mini"%>
	</div>
</div>
