<div class="box">
	<div class="box-header">		
		<span class="title"><%= I18n.t('activerecord.models.template')%></span>
	</div>
	<div class="box-content">
		<table class="table table-normal">
			<tr>
				<td width="25%">
					<%= I18n.t('activerecord.attributes.template.name') %>
				</td>
				<td>
					<%= @template.name %>
				</td>
			</tr>
			
			<tr>
				<td>
					<%= I18n.t('activerecord.attributes.template.desc') %>
				</td>
				<td>
					<%= @template.desc %>
				</td>
			</tr>
		</table>
	</div>
</div>

<%= render partial: 'check_points/index',locals: {check_points: @template.check_points.order(:created_at),template: @template} %>