<div class="box">
	<%= render :partial=> 'shared/index_box_header',:locals=>{:model => 'user'} %>
	<table id="users">
		<thead>
			<tr>
				<th><%= I18n.t('activerecord.attributes.user.name')%></th>
				<th><%= I18n.t('activerecord.attributes.user.account')%></th>
				<th><%= I18n.t('activerecord.attributes.user.mobile')%></th>
				<th><%= "所属"+I18n.t('activerecord.models.organization')%></th>
				<th><%= I18n.t('views.text.action')%></th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |u| %>
			<tr>
				<td><%= u.name %></td>
				<td><%= u.account %></td>
				<td><%= u.mobile.nil?  ? '-' : u.mobile %></td>
				<td><%= u.organization.try(:name) %></td>
				<td>
					<%= render :partial=>'shared/edit_destroy',:locals=>{:model=>'user',:r=>u}%>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
