<div class="span6">
<%= f.input :level,collection: Issue::ISSUE_LEVEL_SET,:include_blank => false %>
<%= f.association :responsible_person, collection: User.all,
			disabled:  ! issue.can_change_responsible_person? %>
<%= f.association :location, collection: Location.all,:include_blank => true %>
<%= f.input :state,:disabled=>true,:input_html => {:value => f.object.human_state_name} %>
<%= f.input :deadline ,as: :string %>
<% if not issue.state_event_collection.empty? %>
	<%= f.input :state_event,collection: issue.state_event_collection %>
<% end %>
</div>
<div class="span6">
<%= f.input :desc ,:input_html => {:rows=>5 }%>
<%= f.simple_fields_for :images do |builder| %>
<%= builder.input :image ,as: :file ,:input_html => {:sizes =>20,:style=> 'width: 20px'}%>
<% end %>
</div>
<%= f.error :base ,:error_method => :to_sentence %>
