<div class="box-header">		
	<span class="title"><%= I18n.t('activerecord.models.issue')%></span>
</div>
<div class="box-content">
	<table class="table table-normal">
		<tr>
			<td width="25%">
				<%= I18n.t('activerecord.attributes.issue.desc') %>
			</td>
			<td>
				<%= issue.desc %>
			</td>
		</tr>
		
		<tr>
			<td>
				<%= I18n.t('activerecord.attributes.issue.state') %>
			</td>
			<td>
				<%= issue.human_state_name %>
			</td>
		</tr>
		<tr>
			<td>
				<%= I18n.t('activerecord.attributes.issue.level') %>
			</td>
			<td>
				<%= issue.level %>
			</td>
		</tr>
		<tr>
			<td>
				<%= I18n.t('activerecord.attributes.issue.submitter') %>
			</td>
			<td>
				<%= issue.submitter.name %>
			</td>
		</tr>
		<tr>
			<td>
				<%= I18n.t('activerecord.attributes.issue.deadline') %>
			</td>
			<td>
				<%= issue.deadline if issue.deadline %>
			</td>
		</tr>
		<tr>
			<td>
				<%= I18n.t('activerecord.attributes.issue.organization') %>
			</td>
			<td>
				<%= issue.organization.name if issue.organization %>
			</td>
		</tr>
		<tr>
			<td>
				<%= I18n.t('activerecord.attributes.issue.responsible_person') %>
			</td>
			<td>
				<%= issue.responsible_person.name if issue.responsible_person %>
			</td>
		</tr>
		<tr>
			<td>
				<%= I18n.t('activerecord.attributes.issue.location') %>
			</td>
			<td>

				<% if issue.location %>
				<%= render partial:'shared/location_image',locals:{location_object:issue} %>
				<% end %>
			</td>
		</tr>
		<% if (not issue.images.nil?) and (issue.images.size != 0)%>
			<tr>
				<td colspan="2">
					<%= render partial:'shared/images',locals:{images:issue.images,thumb_id:"issue_thumbs"} %>
				</td>
			</tr>
		<% end %>
	</table>
</div>
