<div class="span6">
<%= f.input :level,collection: Issue::ISSUE_LEVEL_SET,:include_blank => false %>
<%= f.association :organization,collection: Organization.all,disabled: !issue.can_change_responsible_person? %>
<%= f.association :responsible_person, collection: User.all_subordinates_of_organization(f.object.organization_id),
			disabled:  ! issue.can_change_responsible_person? %>
<%= f.association :location, collection: Location.all,:include_blank => true %>
<%= f.input :state,:disabled=>true,:input_html => {:value => f.object.human_state_name} %>
<%= f.input :deadline ,as: :string %>
<% if not issue.state_event_collection.empty? %>
	<%= f.input :state_event,collection: issue.state_event_collection %>
<% end %>
<%= f.input :desc ,:input_html => {:rows=>5 }%>
</div>

<div class="span6">
	<%= render partial:'shared/upload_image',locals:{f:f,image_check_box_name:check_box_name_of_issue_images(f.object)} %>
</div>
<%= f.error :base ,:error_method => :to_sentence %>
<br/><br/>
