<div class="navbar navbar-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">

      <a class="brand" href="#">Cloud Check 云检</a>

      <!-- the new toggle buttons -->

      <ul class="nav pull-right">

        <!--li class="toggle-primary-sidebar hidden-desktop" data-toggle="collapse" data-target=".nav-collapse-primary"><a><i class="icon-th-list"></i></a></li-->

        <!--li class="hidden-desktop" data-toggle="collapse" data-target=".nav-collapse-top"><a><i class="icon-align-justify"></i></a></li-->

        <li class="toggle-primary-sidebar hidden-desktop" data-toggle="collapse" data-target=".nav-collapse-primary"><button type="button" class="btn btn-navbar"><i class="icon-th-list"></i></button></li>

        <li class="hidden-desktop" data-toggle="collapse" data-target=".nav-collapse-top"><button type="button" class="btn btn-navbar"><i class="icon-align-justify"></i></button></li>

      </ul>

      <% unless current_user.nil? %>
          <%# we're not showing these on some pages (ex: login). these pages define a no-controls variable %>
          <div class="nav-collapse nav-collapse-top collapse">

            <ul class="nav full pull-right">
              <li class="dropdown user-avatar">

                <!-- the dropdown has a custom user-avatar class, this is the small avatar with the badge -->

                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span>
                    <%= image_tag "avatars/avatar1.jpg", class: "menu-avatar" %> <span><%=current_user.name %> <i class="icon-caret-down"></i></span>
                    <span class="badge badge-dark-red"><%= total_needed_handle_quick_report_num + total_needed_handle_template_check_record_num%></span>
                  </span>
                </a>

                <ul class="dropdown-menu">

                  <!-- the first element is the one with the big avatar, add a with-image class to it -->

                  <li class="with-image">
                    <div class="avatar">
                      <%= image_tag "avatars/avatar1.jpg" %>
                    </div>
                    <span><%=current_user.name %> </span>
                  </li>

                  <li class="divider"></li>

                  <li>
                    <%=link_to search_quick_reports_path({:search=>{:state=>"needed_resolve",:responsible_person=>current_user.id}}) do %>
                     <i class="icon-envelope"></i> <span>待处理•走动</span> <span class="label label-dark-red pull-right"><%=needed_resolve_quick_report_num%></span> 
                    <% end %>
                  </li>
                  <li><%=link_to search_quick_reports_path({:search=>{:state=>"needed_verify",:submitter=>current_user.id}}) do %>
                    <i class="icon-envelope"></i> <span>待审核•走动</span> <span class="label label-dark-red pull-right"><%=needed_verify_quick_report_num%></span>
                    <% end %>
                  </li>
                  <li>
                   <%=link_to search_template_reports_path({:search=>{:state=>"needed_resolve",:responsible_person=>current_user.id}}) do %>
                     <i class="icon-envelope"></i> <span>待处理•例行</span> <span class="label label-dark-red pull-right"><%=needed_resolve_template_check_record_num%></span> 
                    <% end %>
                  </li>
                  <li><%=link_to search_template_reports_path({:search=>{:state=>"needed_verify",:submitter=>current_user.id}}) do %>
                    <i class="icon-envelope"></i> <span>待审核•例行</span> <span class="label label-dark-red pull-right"><%=needed_verify_template_check_record_num%></span>
                    <% end %>
                  </li>
                  <li><%=link_to signout_path,method: 'delete'  do %><i class="icon-off"></i> <span>Logout</span><% end %></li>
                </ul>
              </li>
            </ul>


            <ul class="nav pull-right">
              <li class="active"><%=link_to root_path do %><i class="icon-home"></i> 首页<%end%></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">常用功能 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to I18n.t('views.text.new') + I18n.t('activerecord.models.quick_report') ,new_quick_report_path %></li>
                  <li><%= link_to I18n.t('activerecord.models.location')+I18n.t('views.text.index'),locations_path %> </li>
                  <li><%= link_to I18n.t('activerecord.models.user')+I18n.t('views.text.index'),users_path%></li>
                </ul>
              </li>


            </ul>

          </div>
      <% end %>

    </div>
  </div>
</div>