<div class="box">
  <div class="box-header">
    <span class="title"><%= 
          get_edit_or_new_label(@quick_report)%></span>
  </div>
  <div class="box-content">
    <%= simple_form_for @quick_report ,:html => { :class => ' form-horizontal fill-up' } do |f| %>
      <div class="padded separate-sections">
        <%= f.error_notification %>
        <%= f.error :base , :error_method => :to_sentence %>
        <%= render partial:'shared/issue_fieldset', locals:{f: f }%>
      </div>
      <div class="form-actions">
        <%= button_tag "提交" , :class => 'btn btn-blue' %>
        <%= link_to '取消', quick_reports_path, :class => 'btn' %>
      </div>
    <% end %>
  </div>
</div>