<%= simple_form_for @quick_report  ,:html => { :class => 'form-horizontal' } do |f| %>
	<%= f.error_notification %>
	<fieldset>
		<%= f.simple_fields_for :issue do |builder| %>
			<%= render 'shared/issue_fields', f: builder , issue: @quick_report.issue %>
		<% end %>
  		<%= f.error :base , :error_method => :to_sentence %>
  	</fieldset>
  	<div class="form-actions">
  		<%= f.button :submit , :class => 'btn btn-primary' %>
  		<%= link_to '取消', quick_reports_path, :class => 'btn' %>
  	</div>
<% end %>