<div class="box-section news with-icons">
	<%= render partial:'shared/issue_state_icon',locals:{issue:q.issue} %>
	<div class="news-time">
		<span><%=q.created_at.day%></span><%=I18n.t("date.month_names")[q.created_at.month]%>
	</div>
	<div class="news-content">
		<div class="news-title"> 
				<p>
					<%=link_to q.issue.desc, quick_report_path(q) %>
				</p>
		</div>
		<div style="float:right">
			<% if allow? :resolves,:new , q.issue %>
				<%=link_to I18n.t('views.text.handle'), 
					new_issue_resolf_path(q.issue) ,
					:class=>"btn btn-mini btn-blue"%>
			<% end %>
			<% if allow? :quick_reports,:edit , q %>
			<%=link_to I18n.t('views.text.edit'), edit_quick_report_path(q) ,:class=> "btn  btn-green btn-mini"%>
			<% end %>
			<% if allow? :quick_reports,:destroy ,q %>
			<%=link_to I18n.t('views.text.destroy'),
			quick_report_path(q),
			method: :delete ,  
			confirm: I18n.t('views.text.confirm',:model => t('activerecord.models.quick_report')) ,
			:class=> "btn  btn-red btn-mini" %>
			<% end %>
			<% if allow?(:resolves,:edit,q.issue.resolve) and q.issue.resolve_denied? %>
				<%=link_to I18n.t('views.text.rehandle'),
				edit_resolf_path(q.issue.resolve),
				:class=>"btn btn-mini btn-blue"%>
			<% end %>
		</div>
		<div style="float:left">
			<% if not only_time %>
				<span class="label label-green hidden-phone"><%=  q.issue.human_state_name %></span>
				<span class="label label-purple hidden-phone">
					<%= q.issue.responsible_person.nil? ? '-': q.issue.responsible_person.name %></span>
			<% end %>
			<span class="label label-dark-red hidden-phone"><%= time_ago_in_words(q.issue.created_at)%>前</span>
			<span class="hidden-phone">
				<%= render partial: 'shared/issue_level',locals:{issue:q.issue} %>
			</span>
			<span class="hidden-desktop label label-red"><%= q.issue.level %></span> 
		</div>
	</div>
</div>