<div class="box">
  <div class="box-header">
    <span class="title"><%= I18n.t('activerecord.models.quick_report') + I18n.t('views.text.search')%></span>
  </div>
  <div class="box-content">
    <%= simple_form_for :search,:url => search_quick_reports_path  ,method: :get,:html => { :class => 'form-horizontal' } do |f| %>
      <div class="padded separate-sections">
        <%= f.error_notification %>
        <fieldset>
          <%= f.input :location, collection: Location.all,:include_blank => true , :selected => params[:search][:location] %>
          <%= f.input :is_closed, :collection => [["未解决",false],["已解决",true]], :selected => params[:search][:is_closed], :include_blank => true %>
          <%= f.input :state,collection: Issue.all_state_collection,:selected => params[:search][:state],:include_blank => true %>
          <%= f.input :level,collection: Issue.all_level_collection, :selected => params[:search][:level],:include_blank => true %>
        </fieldset>
      </div>
      <div class="form-actions">
        <%= f.button :submit , '查询',:class => 'btn btn-primary' %>
        <%= link_to '取消', quick_reports_path, :class => 'btn' %>
      </div>
    <% end %>
  </div>
</div>
<% if @quick_reports.size > 0 %>
<%= render partial: 'quick_reports',locals:{quick_reports: @quick_reports} %>
<% end %>