<!DOCTYPE html>
<html>
<head>
  <title>Checkapp2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://api.map.baidu.com/api?v=1.5&ak=96fae1b51460b6910217e1b09658fb40" type="text/javascript"></script>
</head>
<body>
	<ul>
		<% if signed_in? %>
			<li><%= link_to current_user.name ,'#' %></li>
			<li><%= link_to I18n.t('views.text.signout'),signout_path ,method: "delete" %></li>
		<% else %>
			<li>
				<%= link_to I18n.t('views.text.signin'),signin_path %>
			</li>
		<% end %>
	</ul>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<!--Sidebar content-->
			</div>
			<div class="span10">
				<!--Body content-->
				<% flash.each do |key, value| %>
					<div class="alert alert-<%= key %>"><%= value %></div>
				<% end %>
				<%= yield %>
			</div>
		</div>
	</div>

	<!--%= debug(params) if Rails.env.development? %-->

</body>
</html>
