<!doctype html>
<html>
<head>

  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


  <script src="http://api.map.baidu.com/api?v=1.5&ak=96fae1b51460b6910217e1b09658fb40" type="text/javascript"></script>
  <%= yield :lushu %>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <!-- Use title if it's in the page YAML frontmatter -->
  <title>云检</title>


 

</head>



<body>
	<%= render :partial=> 'shared/top_navigation' %>
	<%= render :partial=> 'shared/side_navigation' %>

	<div class="main-content">
	  	<div class="container-fluid">
	  	  <div class="row-fluid">

      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title">
            <i class="<%= menu[controller_name.to_sym][:items][action_name.to_sym][:icon] %>"></i>
            <%= menu[controller_name.to_sym][:items][action_name.to_sym][:label] %>
          </h3>
          <h5>
            <%= current_user.tenant.name if current_user.tenant %>
          </h5>
        </div>

        <ul class="inline pull-right sparkline-box">

          <li class="sparkline-row">
            <h4 class="blue"><span>地理位置</span> <%= get_all_location_num %></h4>
            <div class="sparkline big" data-color="blue"><!--<%= random_numbers(12).join(",") %>--></div>
          </li>

          <li class="sparkline-row">
            <h4 class="green"><span>走动巡查</span> <%= get_all_quick_report_num %></h4>
            <div class="sparkline big" data-color="green"><!--<%= random_numbers(12).join(",") %>--></div>
          </li>

          <li class="sparkline-row">
            <h4 class="red"><span>组织机构</span><%= get_all_organization_num %></h4>
            <div class="sparkline big"><!--<%= random_numbers(12).join(",") %>--></div>
          </li>

        </ul>
      </div>
	  	  </div>
	  	</div>
	
	  	<div class="container-fluid padded">
	  	  <div class="row-fluid">
      		<!-- Breadcrumb line -->
      		<% if current_user %>
    			<div id="breadcrumbs">
        			<div class="breadcrumb-button blue">
        			  <span class="breadcrumb-label"><i class="icon-home"></i>首页</span>
        			  <span class="breadcrumb-arrow"><span></span></span>
        			</div>
        			<% if menu[controller_name.to_sym][:items].keys.count > 1 %>
        			    <div class="breadcrumb-button">
        			      <span class="breadcrumb-label">
        			      	<i class="<%= menu[controller_name.to_sym][:primary][:icon] %>"></i> <%=menu[controller_name.to_sym][:primary][:label]%>
        			      </span>
        			      <span class="breadcrumb-arrow"><span></span></span>
        			    </div>
        			<% end %>
        			<div class="breadcrumb-button">
        			  <span class="breadcrumb-label">
        			  	<i class="<%= menu[controller_name.to_sym][:items][action_name.to_sym][:icon] %>"></i>
        			  	<%= menu[controller_name.to_sym][:items][action_name.to_sym][:label] %>
        			  </span>
        			  <span class="breadcrumb-arrow"><span></span></span>
        			</div>
      			</div>
      		<%end %>
	  	  </div>
	  	</div>
	
	  	<div class="container-fluid padded">
	  		<% flash.each do |key, value| %>
	  			<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>
	    	<%= yield %>
	  	</div>
	</div>

</body>
</html>

